#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    min-width: 700px;
    max-width: 1024px;
}

#banner {
    height: 298px;
    max-width: 100%;
    background-image: url("images/logo.png");
    background-size: 100% 100%
}

#nav {
    background-color: #444343;
    overflow: hidden;
}

#nav a {
    float: left;
    display: block;
    color: #f0745b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #a4d1c2;
}

#nav a:hover {
    background-color: #a4d1c2;
}

#nav a.active {
    background-color: #a4a3a3;
    color: #444343;
}

#zein img {
    float: left;
    margin-right: 5px;
}

#lee {
    clear: left;
    padding-top: 20px;
}

#lee img {
    float: right;
}

#josh {
    clear: right;
    padding-top: 20px;
}

#josh img {
    float: left;
    margin-right: 5px;
}

#matthew {
    clear: left;
    padding-top: 20px;
}

#matthew img {
    float: right;
}
